doctype html
html(lang='en')
  head
    title #{title}
    link(rel='stylesheet' href='/stylesheets/style.css')
  body   
    h1 #{title}
    ul
      each message in messages
        li
          p= message.text
          p by: #[span(class='user') #{message.user}]
          p #[span(class='date') #{message.added.toDateString()}]
    a(href='/new') New Message